/*根据长度滑入滑出*/
/*
  过程中禁用点击事件
*/
@keyframes slideout-width {
    0%{
        pointer-events: none;
        width: 0;
    }
    100%{
        width: var(--slide-width);
        min-width:var(--min-width);
        pointer-events: auto;
    }
}
@keyframes slidein-width {
    0%{
        pointer-events: none;
        width: var(--slide-width);
        min-width:var(--min-width);
    }
    100%{
        width: 0;
        min-width: 0;
        pointer-events: none;
    }
}

/*根据左位置偏移滑入滑出*/

@keyframes slideout-left {
    0%{
        left: 0;
    }
    100%{
        left: var(--slide-width);

    }
}
@keyframes slidein-left {
    0%{
        pointer-events: none;
        left: var(--slide-width);
    }
    100%{
        left: 0;
        pointer-events: auto;
    }
}

/*改变颜色*/
@keyframes white-transparent {
    0%{color: white}
    30%{color: rgba(255, 255, 255, 0)}
}
@keyframes transparent-white {
    50%{color: rgba(255, 255, 255, 0)
    }
    100%{color: rgb(255, 255, 255)
    }
}

/*数字时钟动画*/
@keyframes clock-animation {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}