.inner_box{
    background: #6e6e6e;
    left: 0;
    width: var(--innerbox-width);
    height: 90vh;
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-family: "3270Condensed NFM", 幼圆, system-ui;
}