.inner_page{
    padding: 10px 10px 10px 15px;
    position: absolute;
    left: 0;
    background-color: #ece5e2;
    width: 80%;
    height: 80%;
    animation:var(--menu-slide-time) 1;
    animation-name: none;
    animation-fill-mode: forwards;
}