*{margin: 0;padding: 0}

:root{
    --nav-height:50px; /* 导航栏高度 */
    --list3-hidth:30px; /* 三级菜单列表高度 */
    --menu-slide-time:1s; /* 菜单滑动动画耗时 */

    --innerbox-width:95%; /* 内部页盒子宽度 */
    --innerbox-div-heidth:80vh; /* 内部页盒子内的盒子的高度 */
/*-------------------动画控制------------------------------*/
    /*划出后最小宽度*/
    --min-width:150px;
    --slide-width: 16%;
    --min-left: var(--slide-width);

    /*------------------输入框-------------------------------*/
    --input-height: 20px;

    /*------------------表格-------------------------------*/
    --t-search-row-height: 30px;
    --t-user-bg: #84c0c2;
}

div {
    box-sizing: border-box;
}

.luminous-white {
    filter: brightness(1) drop-shadow(0 0 2px white);
}

.bleak {
    filter: brightness(0.5);
}